.the-navbar {
    background-color: #F2F2F2;
    position: fixed;
    width: 100%;
}
.nav-link {
    font-size: 14px;
    color: #333333;
    text-decoration: none;
}

.nav-link span {
    position: relative;
}

.nav-link span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    background-color: #C72F48;
    bottom: -2px; /* Adjust if needed */
    left: 0;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover {
    color: black;
}

.nav-link:hover span::after {
    width: 100%;
}

.nav-link.active {
    color: #C72F48 !important;
}