.the-navbar {
    transition: background-color 0.3s ease, color 0.3s ease;
    position: fixed;
    width: 100%;
}

.the-navbar.transparent .nav-link {
    color: white; /* Make text white when navbar is transparent */
}

.the-navbar.transparent .nav-link span::after {
    background-color: white; /* White underline when transparent */
}

.the-navbar.scrolled {
    background-color: #F2F2F2; /* Change to your desired background color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.the-navbar.scrolled .nav-link {
    color: #333333; /* Normal text color when navbar is scrolled */
}

.the-navbar.scrolled .nav-link span::after {
    background-color: #C72F48; /* Change underline color when scrolled */
}

.nav-link {
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link span {
    position: relative;
}

.nav-link span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -2px; /* Adjust if needed */
    left: 0;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover {
    color: #C72F48; /* Change color on hover */
}

.nav-link:hover span::after {
    width: 100%;
}

.nav-link.active {
    color: #C72F48 !important; /* Active link color */
}

/* When the navbar is transparent (before scroll) */
.the-navbar.transparent .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* When the navbar is scrolled (after 500px scroll) */
.the-navbar.scrolled .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(51,51,51,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* When the navbar is transparent (before scroll) */
.the-navbar.transparent .navbar-toggler {
    border-color: white; /* Make the border white */
}

/* When the navbar is scrolled (after 500px scroll) */
.the-navbar.scrolled .navbar-toggler {
    border-color: #333333; /* Revert to the original color after scrolling */
}
