.vmv-container {
    margin: 10vh 5vw;
    /* padding: 5vh 0; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(3, auto); /* Three rows, with 'auto' height */
    gap: 20px; /* Space between grid items */
  }
  
  .our-vision {
    grid-column: 1; /* Vision in the first column */
    grid-row: 1; /* First row */
    background-color: #c72f48; /* Just an example background */
    padding: 20px;
    color: white;
  }
  
  .our-value {
    grid-column: 2; /* Value in the second column */
    grid-row: span 2; /* Spans 2 rows */
    background-color: #4755c2;
    padding: 20px;
    color: white;
  }
  
  .our-mission {
    grid-column: 1; /* Mission in the first column */
    grid-row: 2; /* Below the vision */
    background-color: #3a3a3a;
    padding: 20px;
    color: white;
  }
  